/* ROOT */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');

:root {
    --gray: rgb(74,74,74);
    --lightgray: rgb(153,153,153);
    --green: rgb(70,173,143);
    --white: rgb(255,255,255);
    --whitesmoke: rgb(247,247,247);
    --bodyFont: 'Poppins', sans-serif;
    --headingsFont: 'Roboto', sans-serif;
    --transition: .3s ease;
    --font: 16px;
}

/* GENERAL STYLES */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--bodyFont);
    color: var(--lightgray);
    font-size: var(--font);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--gray);
    font-family: var(--headingsFont);
}

.cf::before, .cf::after {
    display: table;
    content: "";
    clear: both;
}

li {
    list-style-type: none;
}

header li {
    float: left;
    margin-right: 25px;
}

a {
    text-decoration: none;
}

span {
    color: var(--green);
}

.container {
    max-width: 1300px;
    margin: 0 auto 0 auto;
}

/* HEADER */

header {
    width: 100%;
    background-color: var(--gray);
}

header .container {
    margin: 0 auto;
}

header h2 {
    color: var(--white);
    font-weight: bold;
    letter-spacing: 0.2rem;
    float: left;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 25px;
}

header nav {
    text-transform: uppercase;
    float: left;
    margin: 0;
}

header ul {
    margin-top: 0;
    margin-bottom: 0;
}

header ul li {
    line-height: 99px;
}

header ul li::before {
    display: block;
    content: "";
    height: 3px;
    width: 0;
    background-color: var(--green);
    transition: var(--transition);
}

header ul li:hover::before {
    width: 100%;
}

header li a {
    color: var(--white);
}

header i {
    color: var(--white);
}

#icons_header {
    float: right;
    line-height: 99px;
}

header #icons_header a {
    margin-right: 25px;
}

/* FRONT SECTION */

.front {
    background-color: var(--whitesmoke);
    text-align: center;
}

.container_front {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 2.2rem;
}

.container_front div p {
    margin-right: 20px;
    display: inline-block;
}

/* MAIN AND ASIDE */

/* MAIN */

.main_aside {
    max-width: 800px;
    margin: 80px auto;
}

main {
    float: left;
}

main article {
    max-width: 300px;
    padding-right: 40px;
}

main article:nth-child(1)::after,
main article:nth-child(2)::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--lightgray);
    margin: 40px auto;
}

main img {
    width: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

main i {
    font-size: 2rem;
    margin-right: 8px;
}

main i:nth-child(1) {
    color: rgb(59,89,153);
    width: 32px;
    position: relative;
    
}
main i:nth-child(2) {
    color: rgb(1,173,239);
    width: 32px;
    position: relative;
}
main i:nth-child(3) {
    color: rgb(220,78,66);
    width: 32px;
    position: relative;
}
main i:nth-child(4) {
    color: rgb(200,33,40);
    width: 32px;
    position: relative;
}

main i:nth-child(1)::after {
    width: 100px;
    height: 30px;
    background-color: var(--gray);
    display: none;
    content: "Share on Facebook";
    font-size: 12px;
    color: var(--white);
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50px;
    left: -38px;
}

main i:nth-child(1):hover:after {
    display: block;
}

main i:nth-child(2)::after {
    width: 100px;
    height: 30px;
    background-color: var(--gray);
    display: none;
    content: "Share on Twitter";
    font-size: 12px;
    color: var(--white);
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50px;
    left: -38px;
}

main i:nth-child(2):hover:after {
    display: block;
}

main i:nth-child(3)::after {
    width: 100px;
    height: 30px;
    background-color: var(--gray);
    display: none;
    content: "Share on Google+";
    font-size: 12px;
    color: var(--white);
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50px;
    left: -38px;
}

main i:nth-child(3):hover:after {
    display: block;
}

main i:nth-child(4)::after {
    width: 100px;
    height: 30px;
    background-color: var(--gray);
    display: none;
    content: "Share on Pinterest";
    font-size: 12px;
    color: var(--white);
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50px;
    left: -38px;
}

main i:nth-child(4):hover:after {
    display: block;
}



/* ASIDE */

aside img {
    max-width: 500px;
    /* width: 100%; */
    height: auto;
    margin-bottom: 30px;
}

/* PROJECTS */

.projects article {
    float: left;
    width: 33.33%;
}

.projects img {
    width: 100%;
    height:530px;
}

.projects article {
    height: 100%;
    height: 530px;
    
}

.projects article:nth-child(2) {
    background-color: var(--green);
    text-align: center;
    color: var(--white);
}

.projects h4 {
    color: var(--white);
    letter-spacing: 0.1rem;
    margin-top: 150px;
    margin-bottom: 90px;
}

.projects p {
    margin-bottom: 25px;
}

button {
    background-color: var(--green);
    padding: 10px 30px;
    border-radius: 20px;
    color: var(--white);
    border: solid 2px var(--white);
}

/* FOOTER */

footer {
    background-color: var(--gray);
    color: var(--white);
    padding-top: 100px;
    padding-bottom: 100px;
}

footer nav {
    width: fit-content;
    margin: 0 auto 30px auto;
}

footer li {
    width: auto;
    float: left;
    margin-right: 25px;
    text-transform: uppercase; 
}

footer li a {
    color: var(--white);
}

footer i {
    color: var(--white);
    margin-right: 25px;
}

#icons_footer {
    width: fit-content;
    margin: 0 auto 15px auto;
}

footer p {
    width: fit-content;
    margin: 0 auto 0 auto;
}

@media all and (max-width: 860px) {

    .main_aside {
        padding-left: 30px;
        padding-right: 30px;
    }

    aside img {
        max-width: 400px;
    }
    
}

@media all and (max-width: 780px) {

    header h2 {
        padding-top: 25px;
        float: none;
        width: fit-content;
        margin: 0 auto;
    }

    header nav {
        float: none;
    }

    header ul {
        margin: 0 auto;
        padding: 25px;
        width: fit-content;
    }

    header ul li {
        line-height: normal;
    }

    #icons_header {
        float: none;
        margin: 0 auto;
        width: fit-content;
        line-height: normal;
        margin-bottom: 25px;
    }

    aside img {
        max-width: 300px;
    }
}

@media all and (max-width: 680px) {

    .main_aside {
        margin-bottom: 0;
    }

    main {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    main article {
        max-width: 300px;
        padding-right: 0;
    }

    aside {
        text-align: center;
        margin-top: 30px;
    }

    aside img {
        max-width: 500px;
        
    }

    .projects {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .projects article {
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    .projects h4 {
        letter-spacing: 0.1rem;
        margin-top: 0;
        padding-top: 150px;
        margin-bottom: 90px;
        font-size: 2.5rem;
    }

    footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    footer ul {
        margin-top: 0;
    }

}

@media all and (max-width: 640px) {

    .container_front p {
        padding-left: 20px;
        padding-right: 20px;
    }

    footer p {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media all and (max-width: 590px) {
    aside img {
        max-width: 400px;
    }
}

@media all and (max-width: 499px) {
    
    aside img {
        width: 95%;
    }

    .projects article {
        height: 395px;
    }

    .projects img {
        height: auto;
    }

    .projects h4 {
        padding-top: 100px;
    }
}















